{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors is defined and errors|length > 0 %}
            <div class="bg-yellow mw6 center black-50 br2 pa3 tc mt5 ba bw2 b--white-50">
                {% for error in errors %}
                    {{ error.message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

<!DOCTYPE html>
<html lang="en">
<title>The Landing Page Bundle</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css">
<body class="sans-serif">
<div class="pa3 bg-white-70">
    <h3 class="f4 tc center mw6 fw5 blue lh-copy ttl">The Landing Page Bundle</h3>
    <p class="f5 fw5 tc mw6 mb4 center lh-copy black-30">In accumsan euismod mollis.
        Nunc facilisis dolor sodales velit imperdiet auctor. Phasellus tristique tortor
        sed tellus feugiat, sollicitudin imperdiet quam malesuada. Mauris in ornare risus.
        In hac habitasse platea dictumst. Vestibulum sed blandit mi. Integer pulvinar ex nec
        commodo lobortis. Curabitur convallis convallis erat, eu dignissim metus tincidunt non.
        Donec at tempor lorem, vel porttitor nulla.</p>
    <hr class="bt b--black-10 b--dotted mb4 mw6">
    <span class="f4 fw5 tc db mw6 center black-30">Launching Q2</span>
    <hr class="bt b--black-10 b--dotted mt4 mw6">

    {% for message in app.flashes('notice') %}
        <div class="bg-green mw6 center white br2 pa3 tc mt5 ba bw2 b--white-50">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_errors(form.email) }}

    {{ form_start(form, {'attr': {'class': 'bg-blue mw6 mv5 center pa4 br2-ns'}}) }}
    <fieldset class="cf bn ma0 pa0">
        <div class="cf">
            {{ form_label(form.email, 'Email Address', {'label_attr': {'class': 'clip'}}) }}
            {{ form_widget(form.email, {'attr': {'placeholder': 'Your Email Address', 'class': 'f5 input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-60-m w-60-l br br--top'}}) }}
            {{ form_widget(form.save, {'label': 'Keep me posted', 'attr': {'class': 'f5 button-reset fl pv3 bn bg-animate bg-white-50 hover-bg-white-30 white pointer w-100 w-40-m w-40-l br br--bottom'}}) }}
        </div>
    </fieldset>
    {{ form_end(form) }}
</div>
</body>
</html>
